{% block extra_head %}
  <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.min.css"> -->
{% endblock %}
{% load humanize %}
<div class="modal fade" id="modal_perfiles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <!-- <form class="formulario" role="form" method="POST">{% csrf_token %} -->
  	<div class="modal-dialog modal-md">
    	<div class="modal-content">        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          {% if editar_m %}
            <h4 class="modal-title" id="myModalLabel">MODIFICAR PERFIL</h4> 
          {% elif detalles_m %}
            <h4 class="modal-title" id="myModalLabel">DETALLES PERFIL</h4>
          {% elif eliminar_m %}
            <h4 class="modal-title" id="myModalLabel">ELIMINAR PERFIL</h4>
          {% elif reactivar_m %}
            <h4 class="modal-title" id="myModalLabel">REACTIVAR PERFIL</h4>
          {% endif %}  
        </div>
        <div class="modal-body" id="modal-body-contactos">              
          {% if editar_m %}               
            <div class="row">
              <div class="col-lg-6">                                    
                <div class="form-group">
                     <label for="clave">Nombre Perfil</label>
                     <input type="text" class="form-control input-sm input-sm" id="nombre" name="nombre" {% if editar_m %} value="{{ perfil_s.nombre_tipo_perfil }}"  {% endif %} required>
                </div>                                          
              </div>
              <div class="col-lg-6">                                                                            
                <div class="form-group">
                    <label>Observaciones</label>
                    <textarea class="form-control"  id="observaciones"  name="observaciones" rows="3">{% if editar_m %} {% if perfil_s.descripcion_tipo_perfil %}{{ perfil_s.descripcion_tipo_perfil }}{% endif %}  {% endif %}</textarea>
                </div>    
              </div>                 
            </div>
          </div>               
          <div class="modal-footer">
            <!-- <a id="agregar_registro" class="btn btn-success informe" accion="ingreso" name="guardar"><i class="fa fa-save"></i> Guardar</a> -->
            <a  class="btn btn-success modificar" accion="{{ perfil_s.pk }}"><span class="fas fa-save"></span> Guardar</a>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar_contacto_m" >Cerrar</button>
          </div>
          {% elif detalles_m %}
            <div class="row">
                <div class="col-md-12">                    
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">NOMBRE</th>
                          <th scope="col">DESCRIPCIÓN</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ perfil_s.nombre_tipo_perfil}}</td>
                          <td>{{ perfil_s.descripcion_tipo_perfil}}</td>
                          <td></td>
                        </tr>
                      </tbody> 
                       <thead>
                        <tr>
                          <th scope="col">FECHA CREACION</th>
                          <th scope="col">FECHA MODIFICACIÓN</th>
                          <th scope="col">FECHA BAJA</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{% if perfil_s.fecha_creacion %} {{ perfil_s.fecha_creacion|date:"d/m/Y"}} {% else %} N.R {% endif %}</td>
                          <td>{% if perfil_s.fecha_modificacion %} {{ perfil_s.fecha_modificacion|date:"d/m/Y" }} {% else %} N.R {% endif %}</td>
                          <td>{% if perfil_s.fecha_desactivacion %} {{ perfil_s.fecha_desactivacion|date:"d/m/Y" }} {% else %} N.R {% endif %}</td>
                        </tr>
                      </tbody>                     
                  </table>
              </div>
            </div>
          </div>               
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar_contacto_m" >Cerrar</button>
          </div>
          {% elif eliminar_m %}
            <div class="row">
              <div class="col-lg-12">
                <form class="formulario" role="form" method="POST">{% csrf_token %}
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="row">
                          <div class="alert alert-warning fade in col-md-12" role="alert">
                            <strong>Advertencia!</strong> {{ advertencia }} {{ perfil_s }}
                          </div>
                          <!-- <label class="text-center">Ingese la fecha de eliminacion del usuario</label> -->
                          <!-- <input type="date" name="fecha" class="form-control"> -->
                        </div>    
                      </div>
                      <div class="modal-footer">                       
                        <a class="btn btn-danger" href="{% url 'eliminar_perfil' perfil_s.pk %}"><span class="fas fa-save"></span> Guardar</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar_contacto_m" >Cerrar</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        {% elif reactivar_m %}
            <div class="row">
              <div class="col-lg-12">
                <form class="formulario" role="form" method="POST">{% csrf_token %}
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="row">
                          <div class="alert alert-warning fade in col-md-12" role="alert">
                            <strong>Advertencia!</strong> {{ advertencia }} {{ perfil_s }}
                          </div>
                          <!-- <label class="text-center">Ingese la fecha de eliminacion del usuario</label> -->
                          <!-- <input type="date" name="fecha" class="form-control"> -->
                        </div>    
                      </div>
                      <div class="modal-footer">                       
                        <a class="btn btn-danger" href="{% url 'reactivar_perfil' perfil_s.pk %}"><span class="fas fa-save"></span> Guardar</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar_contacto_m" >Cerrar</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        {% endif %} 
    	</div>
  	</div>
  <!-- </form> -->
</div>

{% block extra_js %}


<script type="text/javascript">
  $(".modificar").on("click",function(){
    var aux_accion = $(this).attr("accion");
    console.log("mire las variables,"+aux_accion);
    $.ajax({
      type:"POST",         
      url:"/usuarios/modificar_perfil/{{ perfil_s.pk }}/",
      data:{ "accion_r":aux_accion,"nombre":$("#nombre").val() ,"observaciones":$("#observaciones").val(),"csrfmiddlewaretoken": getCookie("csrftoken")},
      success: function(resp){
        var url_to = "http://"+window.location.host+resp;
        window.location= url_to;
      }
    })
  });

  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }


</script>
{% endblock %}