{% extends 'menu_indra.html' %}

{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.min.css">
{% endblock %}

{% block titulo_pagina %}Modificar Usuario{% endblock %}
{% block icono_seccion %}<i class="fa fa-user"></i>{% endblock %}
{% block titulo_seccion %}Modificar Usuario{% endblock %}

{% block opciones_seccion %}
	<div class="appframe-toolbar">
		<a href="{% url 'ver_usuario' usuario_mod.pk %}" class="text-muted" href="" data-toggle="tooltip" data-placement="top" title="Regresar"><i class="fa fa-arrow-left"></i></a>
	</div>
{% endblock %}

{% block contenido_seccion %}
	{% include "alertas.html" %}
	<form role="form" method="POST">{% csrf_token %}
		<div class="row">
			<div class="col-xs-6">
				<legend>Información Personal</legend>
			</div>
			<div class="col-xs-6">
				<legend>Información de Acceso</legend>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="clave">Número de Documento</label>
					<input type="text" class="form-control input-sm integer" id="numero_documento" name="numero_documento" value="{{ usuario_mod.identificacion }}" required>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="clave">Nombre de Usuario</label>
					<input type="text" class="form-control input-sm no-spaces" id="clave" name="nombre_de_usuario" required value="{{ usuario_mod.usuario_login }}" readonly="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="clave">Nombre</label>
					<input type="text" class="form-control input-sm characters" id="clave" name="primer_nombre" value="{{ usuario_mod.nombre }}" required>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<label for="clave">Contraseña</label>
					<input type="password" class="form-control input-sm no-spaces" id="clave" name="clave" value="{{ usuario_mod.password }}" required >
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<label for="clave">Confirmar Contraseña</label>
					<input type="password" class="form-control input-sm no-spaces" id="clave" name="c_clave" value="{{ usuario_mod.password }}" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="clave">Correo Electrónico</label>
					<input type="email" class="form-control input-sm" id="clave" name="correo" placeholder="Correo Electrónico" value="{{ usuario_mod.correo }}"required>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<label for="clave">Empresa</label>
					<input type="text" class="form-control input-sm" id="empresa_usuario" name="empresa_usuario" placeholder="" value="{{ usuario_mod.empresa }}" required>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="elementos_seleccionados">Perfiles Seleccionados</label>
					<select class="form-control input-sm chosen-select" multiple="true" id="grupos_seleccionados" name="grupos_seleccionados" data-placeholder="Seleccione los grupos al que pertenece el Usuario.">
					{% for grupo in perfiles %}
						<option value="{{ grupo.pk }}">{{ grupo.nombre_perfil }}</option>
					{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary btn-center">Guardar</button>
	</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/form-list.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/proyecons.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.proto.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#tipo_de_documento").chosen({no_results_text: "No hay resultados con "});
		$("#cargo").chosen({no_results_text: "No hay resultados con "});
		$("#grupos_seleccionados").chosen({no_results_text: "No hay resultados con "});
	});
</script>
{% endblock %}